{% extends "task_manage.html" %}
{% block add_task %}

<fieldset>
    <div id="legend" class="">
        <legend class="">创建任务</legend>
    </div>

    <div style="width:80%; margin-left: 20px;">
        <form action="/debug/" method="get" class="bs-example bs-example-form" role="form" style="margin-top: 30px">
            <div class="input-group">
                <span class="input-group-addon">名称</span>
                <input id="task_name" type="text" class="form-control" placeholder="name">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">描述</span>
                <textarea class="form-control" id="task_des"></textarea>
            </div>
            <br>
            <div class="input-group">
                <span>状态：</span>
                    <input type="radio" name="status" value="0" checked/>未执行
                    <input type="radio" name="status" value="1"/>执行中
                    <input type="radio" name="status" value="2"/>已执行
                    <input type="radio" name="status" value="3"/>排队中
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">用例</span>
               <div class="caseList form-control" id="test_case" style="overflow-y:scroll; height: 200px; background: #FFFFFF; padding-left: 15px;">
            </div>

			</div>
            <br>
            <div style="width: 100%; height: 60px;">
                <button type="button" class="btn btn-success" id="save_task" style="float: right;margin-right: 10px;">Save</button>
            </div>

        </form>

    </div>


</fieldset>

<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
    CaseListInit();

    $("#selectAll").click(function() {
        $(":checkbox[name='ids']").prop("checked", this.checked);
    });

    $("#save_task").click(function () {
        let tName = $("#task_name").val();
        let tDescribe = $("#task_des").val();
        let selectCases  =  document.querySelectorAll("div.caseList > input");
        let estatus = document.getElementsByName("status");
        let status = "";
        for(let i = 0; i<estatus.length; i++){
            if(document.getElementsByName("status")[i].checked === true){
                status = document.getElementsByName("status")[i].value
            }
        }

        var selectCasesId = "";
			for (let i = 0; i < selectCases.length; i++) {
				if (selectCases[i].checked === true){
					let case_id = selectCases[i].value;
					selectCasesId += case_id + ","
				}
			}
        console.log(selectCasesId);
        $.post("/interface/save_task/",{
            "task_name": tName,
            "task_describe": tDescribe,
            "task_cases": selectCasesId,
            "task_status":status,
        }, function (resp) {
            alert(resp.message)
        })
    })





</script>

{% endblock %}