{% extends "base.html" %}
{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/manage/project_manage/">测试平台</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">{{ user }}</a></li>
                    <li><a href="/logout/">退出</a></li>
                </ul>
                <form class="navbar-form navbar-right" method="get" action="/interface/search_case_name/">
                    <input type="text" name="case_name" class="form-control" placeholder="Search...">

                </form>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="/manage/project_manage/">项目管理</a></li>
                    <li><a href="/manage/module_manage/">模块管理</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="/interface/case_manage/">用例管理</a></li>
                    <li class="active"><a href="/interface/task_manage/">任务管理</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="">mockserver</a></li>
                    <li><a href="">测试工具</a></li>
                </ul>
            </div>

            {% if type == 'list' %}
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <h3 class="sub-header">任务列表
                        <button type="button" class="btn btn-success" style="float: right;"
                                onclick="window.location.href='/interface/add_task/'">创建
                        </button>
                    </h3>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>任务名称</th>
                                <th>任务状态</th>
                                <th>描述</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for task in tasks %}
                                <tr>
                                    <td>{{ task.id }}</td>
                                    <td>{{ task.name }}</td>
                                    {% if task.status == 0 %}
                                        <td>未执行</td>
                                    {% endif %}
                                    {% if task.status == 1 %}
                                        <td>执行中</td>
                                    {% endif %}
                                    {% if task.status == 2 %}
                                        <td>已执行</td>
                                    {% endif %}
                                    {% if task.status == 3 %}
                                        <td>排队中</td>
                                    {% endif %}
                                    <td>{{ task.describe }}</td>
                                    <td>{{ task.create_time | date:"Y-m-d H:i:s" }}</td>
                                    <td>
                                        <a href="/interface/edit_case/{{case.id}}/">
                                            <i class="el-icon-edit"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/interface/del_case/{{case.id}}/" onclick="return confirm('确定要删除该任务吗？')">
                                            <i class="el-icon-delete"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <!-- 列表分页器 -->
                    <div class="pagination">
                        <span class="step-links">
                            <ul class="pagination">
                                {% if tasks.has_previous %}
                                    <li><a href="?case_name={{ case_name }}&page={{ tasks.previous_page_number }}">&laquo;</a></li>
                                {% endif %}

                                <li><a href="#">{{ tasks.number }}</a></li>

                                {% if tasks.has_next %}
                                    {% if case_name %}
                                        <li><a href="?case_name={{ case_name }}&page={{ tasks.next_page_number }}">&raquo;</a></li>
                                    {% else %}
                                        <li><a href="?page={{ tasks.next_page_number }}">&raquo;</a></li>
                                    {% endif %}
                                {% endif %}
                                <li><a href="#">共 {{ tasks.paginator.num_pages }} 页</a></li>
                            </ul>
                        </span>
                    </div>

                </div>
            {% endif %}

            <!-- 创建用例页面 -->
            {% if type == 'add_task' %}
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div class="row">
                        {% block add_task %}
                            <!--add_task.html-->
                        {% endblock %}
                    </div>

                </div>
            {% endif %}

         <!-- 编辑调试用例页面 -->
            {% if type == 'edit_task' %}
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div class="row">
                        {% block edit_task %}
                            <!--edit_task.html-->
                        {% endblock %}
                    </div>

                </div>
            {% endif %}

        </div>


    </div>
{% endblock %}